footer{
    background: url(../images/footer.jpg) center/cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    &::before{
        @include blackfilter_before(0.7);
    }
}
.navigation{
    padding-top: 80px;
    position: relative;
    z-index: 1;
    @include minmax(300px);
    .nav_footer{
        display: flex;
        flex-direction: column;
        a{
            color:$lightgrey;
            margin-bottom: 15px;
            font-size: 13px;
            font-weight: 550;
            @include transition
        }
        a:nth-of-type(1){
            color:#fff;
            font-size: 22px;
            font-family: 'Playfair Display', serif;
            margin-bottom: 35px;
            font-weight: 500;
        }
        a:last-child{
            margin-bottom: 60px;  
        }
        a:nth-of-type(n+2):hover{
            translate: 5px;
        }
    }
}
.small{
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

// Responsive Part
@media screen and (min-width:1000px) {
    .navigation{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    } 
}
