body{
    margin-top: 20px;
    font-family: Arial;
}
.wrapper{
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
}
img{
    width: 100%;
    max-width: 100%;
    display: block;
}
p{
    line-height: 1.8;
    color: $greyp;
}
a{
    text-decoration: none;
}

hr{
    background-color:$lightgrey;
    height:1px;
    border: none;
    margin-top: 15px;
}

.red_title{
    text-transform: uppercase;
    background-color: red;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 15px;
}
.subtitle{
    font-style: italic;
    color: $greysubtitle;
}
.img_scale{
    overflow: hidden;
    img{
        width: 100%;
        @include transition;
        display: block;
        &:hover{
            scale: 1.05;
        }
    }
}

.title_hr20{
    margin-bottom: 40px;
    div{
        text-transform: uppercase;
        font-size: 20px;
    }
}
.title_hr16{
    margin-bottom: 40px;
    div{
        text-transform: uppercase;
        font-size: 16px;
    }
}
.button_hoverred{
    text-transform: uppercase;
    padding: 15px 30px;
        @include transition;
        span{
            font-weight: bold;
        }
        &:hover{
            color: red;
            border: 1px solid red;
        }  
}


