// Header
.nav{
    .burger_menu{
        width: 120px;
        display: flex;
        background-color: red;
        border-radius: 5px;
        padding: 10px 25px;
        align-items: center;
        .burger_menu_lines{
            div{
                width: 15px;
                height: 3px;
                margin-bottom: 2px;
                background-color: #fff;       
            }
        }
        a{
            color:#fff;
            margin-left: 5px;
        }
    }
    .nav_today{
        display: none;
    }
}



@media screen and (min-width:1000px) {
    .nav{
        .burger_menu{
            display: none;
        }
        .nav_today{
            display: flex;
            a{
                text-transform: uppercase;
                color: #555555;
                padding: 10px 0;
                font-weight: 550;
                margin-right: 15px;
                @include transition;
                &:hover{
                    color: red;
                }
            }
            a:nth-of-type(8){
                margin-left: auto;
                color: #000;
                margin-right: 0;  
            }
        }
    }  
}